# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Test binary, build with `go test -c`
*.test

# Output of the go build tool
*.a
*.o
*.cgo1.go
*.cgo2.c
*_cgo_gotypes.go
*_cgo_export.*
_testmain.go

# Go workspace file
go.work

# Go modules
go.sum
vendor/

# IDE and editor specific files
.vscode/
.idea/
*.swp
*.swo
*.swn
.DS_Store

# workspace file
*.code-workspace
*.sublime-project
*.sublime-workspace